body {margin: 0;
		background-color: lightgray;
}

.banner {
		background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZTYztDd0OuinDhWuuKxYh8yt_YzEwLxN6W0tPMZFJo-NHf60UBA");
		background-repeat: no-repeat;
		background-color: #00ba92;
		background-size: cover;
		background-origin: content-box;
}

#obamalogo {
  		font-size: 75px;
  		margin-left:5px;
  		font-family: "Ink Free", sans-serif;
		display: inline-block;
		color: white;
}

#obamapic {
		float:left;
		margin-left:10px;
		margin-bottom:10px;
		border: 10px ridge white;
		margin-top:20px;
}

#bannerdesc {
		display: inline-block;
		font-size: 20px;
		font-family: "Ink Free", sans-serif;
  		color: lightgray;
  		padding: 20px 15px;
  		width: 175px;
		position: relative;
		top: 20px;
		left: 300px;
		border: 2px ridge black;
		text-align: center;
}

.post {
		margin-left: 25px;
		border: 7.5px ridge #4f5566;
		margin-right: 25px;
		background-color: darkgray;
		margin-bottom: 10px;
}


.ptext {
		margin-left: 15px;
		display: inline-block;
		font-family: "Vibes", cursive;
		font-size: 35px;
}

.ppic {
		vertical-align: middle;
}

a:link {
		color: white;
		text-decoration: none;
}

a:visited {
		color: white;
}

.joe {
		transform: rotate(-10deg);
}

.joebama {
		transform: rotate(20deg);
		
}

.center {
		text-align: center;
}

.sidenav {
  width: 100px;
  height: 100px;
  background-color: #034396;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

ul.sidenav li a:active {
	background-color: #deecff;
  	transform: translateY(40px);
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {background-color: #034396;}
  50% {background-color: purple;}
  100% {background-color: #034396;}
}

/* Standard syntax */
@keyframes example {
  0% {background-color: #034396;}
  50% {background-color: purple;}
  100% {background-color: #034396;}
}
/* Comment Box */
#HCB_comment_box textarea{}
#HCB_comment_box{font-family:"Ink Free",serif;color:black;background-color:transparent}
#HCB_comment_box p.error{border:1px solid red;background-color:#fee}
.hcb-mod b{color:#00ffdd}
#HCB_comment_box textarea,
#HCB_comment_box input.text{border-top:1px solid #e4e4e4;border-left:1px solid #e4e4e4;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;background-color:#f8f8f8}
#HCB_comment_box .hcb-wrapper-half{display:block;width:50%;float:left}
#HCB_comment_box .hcb-wrapper{clear:both}
#HCB_comment_box input.text{display:block;width:97%}
#HCB_comment_box input.submit{border-top:1px solid #eee;border-left:1px solid #eee;border-bottom:1.5px solid green;border-right:1.5px solid green;background-color:white;color:green;font-weight:700;cursor:pointer}
#HCB_comment_box span.home-desc{font-size:15px;opacity:1;color: red;}
#HCB_comment_box div.comment{border-bottom:1.5px ridge #858585;border-right:1.5px ridge #858585;margin-bottom:5px}
.hcb-mod i{color:#00008b}



#yeet {
	opacity: 1;

}

.disabled {
	background-color: red;
	cursor: not-allowed;
}
/* Navigation Bar */
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #034396;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "Ink Free", sans-serif;
  opacity: 0.75;
}

ul.sidenav li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px;
  box-shadow: 3px 3px black;
  opacity: 1;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}
 
ul.sidenav li a:hover {
  background-color: #596769;
  color: white;
  font-family: "Ink Free", sans-serif;
  box-shadow: 3px 3px #a3f3ff;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 9000px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
    
    
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
/* Navigation Bar End */


